h1, h2, h3, h4, p, li {
    font-family: sans-serif;
    color: #444;
}

h1, h2, h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 2;
}

li {
    font-family: sans-serif;
    font-size: 20px;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

#posts {
    list-style: none;
}

.main-header {
    background-color: #f7f7f7;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
}

li:first-child {
    font-style: bold;
}

li:last-child {
    color: red;
}

li:nth-child(2) {
    font-style: italic;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}